<h2><%= @restaurant.name %> Average Rating: <%=@average %></h2>
<h4>Cuisine Type: <%= @restaurant.cuisine %> </h4>
<h4>Neighborhood: <%= @restaurant.neighborhood %> </h4>
<br>
<h3>All Reviews:</h3>
<ul>
<% @reviews.each do |review| %>
    <li> Rating: <%= review.num_rating %>. "<%= review.comment_rating %>" Visited: <%=review.date_of_visit %></li> 
    <% end %>
    </ul>
<br>
<br>
<br>
<a href=<%="/restaurants/#{@restaurant.id}/reviews"%>> <button> Add Your Review </button></a>
<br>
<br>

