<h2><%= @restaurant.name %> </h2>
<h3><%= @restaurant.cuisine %> </h3>
<h3><%= @review.num_rating %> </h3>
<h3><%= @review.comment_rating %> </h3>
<h3><%= @restaurant.neighborhood %> </h3>
<p>Visited: <%=@restaurant.date_of_visit %></p>

<a href=<%="/restaurants/#{@restaurant.id}/edit"%>> <button> Edit </button></a>
<br>
<br>
<form method="post" action="/restaurants/<%=@restaurant.id%>" >
    <input type="hidden" name="_method" value="delete" >
    <input type="submit" value="Delete" >
</form>