<h1>Edit or Delete your review for <%= @restaurant.name %></h1>

<form method="post" action="/reviews/<%=@review.id%>" >
    <input type="hidden" name="_method" value="patch" >
    <label>Rating out of 10:</label>
    <input type="text" name="review[num_rating]" placeholder="Rating"> <%= @review.num_rating %>
    <br>
    <br>
    <label>Comment:</label>
    <input type="text" name="review[comment_rating]" placeholder="Comment"> <%= @review.comment_rating %>
    <br>
    <br>
    <input type="submit" value="Edit Review" name="Edit Review" >
</form>

<a href=<%="/reviews/#{@review.id}/edit"%>> <button> Edit </button></a>
<br>
<br>
<form method="post" action="/reviews/<%=@review.id%>" >
    <input type="hidden" name="_method" value="delete" >
    <input type="submit" value="Delete" >
</form>