
<h1> <%= current_user.username %>'s Review's:</h1>
<br>
<ul>
<% @reviews.each do |review| %>
    <div class="review-container" >
    <li> <a href="/restaurants/<%= review.restaurant_id %>" ><%= review.restaurant.name %> </a> 
    Rating: <%= review.num_rating %>. "<%= review.comment_rating %>" Visited: <%=review.date_of_visit %></div>
    <div class="edit-delete" >
    <a href=<%="/reviews/#{review.id}/edit"%>> <button> <i class="far fa-edit"></i> </button></a></li>
    <form method="post" action="/reviews/<%=review.id%>" >
    <input type="hidden" name="_method" value="delete" >
    <button type="submit" ><i class="far fa-trash-alt"></i></button>
    </form>
    </div>
    <% end %>
    </ul>

